.mother-container div img{
    position: absolute;
    left: 30px;
    top: 15px;
    height: 250px;
    width: 250px;
    border: 1px solid black;
    
}
.menu-bar{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    background-color: rgb(187, 138, 234);
}
.menu-bar li{
    display: inline;
    padding: 20px;
    
}
.logo{
    color: wheat;
    font-size: 70px;
    
}

.menu-bar li a{
    text-decoration: none;
    font-size: 30px;
    color: azure;
}

.menu-bar li a:hover{
    color: black;
}
.mother-container div h1{
    position: absolute;
    left: 10px;
    bottom: 30px;
    font-family: 'Gochi Hand', cursive;
}


.mother-container{
    background-color: rgb(187, 138, 234);
    width: 100%;
    height: 800px;
    position: relative;
    padding: 0%;
    margin: 0;
}

.polaroid-art{
    position: absolute;
    left: 390px;
    top: 90px;

}
.polaroid-code{
    position: absolute;
    top: 110px;
    right: 250px;
}
.polaroid-contact{
    position: absolute;
    bottom: 250px;
    left: 300px;
}

.polaroid-information{
    position: absolute;
    right: 400px;
    top: 200px;
}

.mother-container div{
    height: 400px;
    width: 300px;
    background-color: blanchedalmond;
    border: 1px solid black;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
   
}

.mother-container div:hover{
    z-index: 555;

}
